.a {
  color: #fff !important;
  text-decoration: none !important;
}

a:visited{
  color:white !important;
}
a:focus{
  color:white !important;
}
a:active{
  color:white !important;
}

._name_ {
  color: white !important;
}
._name_:hover {
  color: #1FAFED !important;
}
.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: black;
}

.bottom center span {
  color: whitesmoke !important;
  font-size: medium;
  font-weight: bold;
  display: inline;
  align-items: center !important;
}
